:root {
  --mainFont: 'Outfit', sans-serif;

  /* font weights */
  --Outfit-regular: 400;
  --Outfit-medium: 500;
  --Outfit-SemiBold: 600;

  /* font-size */
  --Heading-font-size: 2.5rem; /*40px*/
  --Label-font-size: 1.25rem; /*20px*/
  --Body-font-textSize: 1rem; /*16px*/

  /* colors */

  /* #FFFEFE
#F3F4F6
#394150
#000000
#263FA9
#86E7D4
#9DC4F8
#C1B6F8
#EDACD2
#F8D8B0 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
}

.container {
  min-height: 50vh;
  background-color: #fffefe;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f3f4f6;
  width: 80%;
  margin: 6rem auto 0 auto;
  border-radius: 2rem;
}

.grid-left-column {
  display: grid;
  margin-left: 3rem;
  grid-template-rows: 50% 50%;
}

.layout {
  padding-top: 2.5rem;
}

.first-anchortag {
  display: block;
  color: #263fa9;
  font-size: var(--Label-font-size);
  font-weight: var(--Outfit-SemiBold);
  padding-bottom: 1rem;
}

.grid-left-column h1 {
  font-size: var(--Heading-font-size);
  font-weight: var(--Outfit-medium);
  padding-bottom: 1rem;
}

.grid-left-column p {
  font-weight: var(--Body-font-textSize);
  font-size: var(--Label-font-size);
  color: #394150;
  width: 80%;
}

a {
  text-decoration: none;
}

.grid-right-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.grid-left-row {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.grid-left-row a {
  font-size: var(--Label-font-size);
  font-weight: var(--Outfit-SemiBold);
  color: #394150;
  padding-bottom: 2rem;
}

.left-img {
  height: 100%;
  background-color: #9dc4f8;
}

.grid-right-column img {
  width: 100%;
  position: relative;
}

.p {
  position: absolute;
  top: 70%;
  right: 40%;
}

.top-left-img {
  background-color: #c1b6f8;
  background-image: url(../assets/person_1@2x.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.top-right-img {
  background-color: #edacd2;
  border-top-right-radius: 2rem;
  background-image: url(../assets/person_2@2x.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.bottom-left-img {
  background-color: #f8d8b0;
  background-image: url(../assets/person_4@2x.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.bottom-right-img {
  background-color: #86e7d4;
  border-bottom-right-radius: 2rem;
  background-image: url(../assets/person_5@2x.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.description {
  position: absolute;
  width: 20%;
  height: 80%;
  top: 35%;
}

.description h2,
.description p {
  padding-left: 2rem;
  color: #fff;
}

.description h2 {
  font-size: var(--Label-font-size);
  font-weight: var(--Outfit-SemiBold);
  letter-spacing: -1px;
}

.description p {
  font-size: var(--Body-font-textSize);
  font-weight: var(--Outfit-regular);
}

.description-bottom h2,
.description-bottom p {
  padding-left: 2rem;
  color: #fff;
}

.description-bottom h2 {
  font-size: var(--Label-font-size);
  font-weight: var(--Outfit-SemiBold);
  letter-spacing: -1px;
}

.description-bottom p {
  font-size: var(--Body-font-textSize);
  font-weight: var(--Outfit-regular);
}

.description-bottom {
  position: absolute;
  top: 68%;
}

.position-left-image-text {
  top: 68%;
  left: 33%;
}
